body {
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Montserrat',sans-serif;
    font-weight: 200;
}
h1 {
    margin-top: 50px;
    margin-bottom: 10px;
}

p{
    weight; 200:
    margin: 0 auto;
}

button {
    border: 0;
    border-radius: 5px;
    margin-top: 50px;
    height: 60px;
    weight: 200px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transittion: all 500ms ease;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);

button:hover {
    background: var(--tg-theme-secondary-bg-color);
}
.telegram-button {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  background-color: #0088cc;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}

.telegram-button img {
  width: 30px; /* adjust size as needed */
  height: 30px; /* adjust size as needed */
  border-radius: 50%;
  margin-right: 10px;
}

.telegram-button .channel-name {
  font-weight: bold;
  margin-right: 10px;
}

.telegram-button .subscribe-status {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
  background-color: #4caf50;
  color: #ffffff;
  padding: 3px 6px;
  border-radius: 3px;
}

.telegram-button .arrow-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 16px;
}









}